@import './variables';
@import './card';
@import './stars';

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-text-main;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
}
